<div class="row" style="margin-top: 1%; margin-left:-9.9%">
  <div class="col-md-3" id="heading">Input Parameters</div>
  <!-- <div class="col-md-5"></div> -->
  <!-- <div class="col-md-1" class="label" style="margin-right:-2%;">No. of Rows</div>
    <div class="col-md-1" class="label">
        <select style="border: 1px solid #000000; ">
          <option>5</option>
          <option>10</option>
        </select>
      </div> -->
  <div class="col-md-1" style="margin-left:-10%; margin-top: -0.5%">
    <button id="btn4" (click)="isCollapsed = !isCollapsed">
      <span class="collapse-text" [hidden]="!isCollapsed">-</span>
      <span class="collapse-text" [hidden]="isCollapsed">+</span>
    </button>
  </div>
</div>

<div class="rectangle" [hidden]="!isCollapsed">
  <div class="row" id="row3">
    <div class="col-md-2"></div>
    <div class="col-md-1" class="label">From PID</div>
    <div class="col-md-1" style="margin-right: -5.33%"></div>
    <div class="col-md-4" class="label" style="font-weight:normal">
        <span [textContent]="inputParamsData.fromPid" ></span>
          
    </div>
  </div>


  <div class="row" id="row3">
    <div class="col-md-2"></div>
    <div class="col-md-1" class="label">To PID</div>
    <div class="col-md-1" style="margin-right: -4%"></div>
    <div class="col-md-4" class="label" style="font-weight:normal">
        <span [textContent]="inputParamsData.toPid" ></span>
    </div>
  </div>



  <div class="row" id="row3">
    <div class="col-md-2"></div>
    <div class="col-md-1" class="label">Sales Order Number</div>
    <div class="col-md-1" style="margin-right: -10.75%"></div>
    <div class="col-md-4" class="label" style="font-weight:normal">
        <span [textContent]="inputParamsData.soNum" ></span>
    </div>
  </div>


  <div class="row" id="row3">
    <div class="col-md-2"></div>
    <div class="col-md-1" class="label">Theatre</div>
    <div class="col-md-1" style="margin-right: -4.4%"></div>
    <div class="col-md-4" class="label" style="font-weight:normal">
        <span [textContent]="inputParamsData.territoryType" ></span>
    </div>
  </div>

  <div class="row" id="row3">
    <div class="col-md-2"></div>
    <div class="col-md-1" class="label">Trans Group Code</div>
    <div class="col-md-1" style="margin-right: -9.65%"></div>
    <div class="col-md-4" class="label" style="font-weight:normal">
      
        <span [textContent]="inputParamsData.transGroupCode" ></span>
    </div>
  </div>



  <div class="row">&nbsp;</div>

</div>

<div class="row" style="margin-top:0.5%;">
  <hr class="col-md-12" id="hrs">
</div>
