.ag-theme-balham .ag-header {
    background-color: #5e9cd3;
    color: white;
    font: 400 14px "Helvetica Neue", sans-serif; }
  .ag-theme-balham .ag-header-row {
    border-bottom: 1px solid #9bc2e6;
    box-sizing: border-box; }
  .ag-theme-balham .ag-row {
    border-bottom: 1px solid #9bc2e6;
    box-sizing: border-box; }
  .ag-theme-balham .ag-row-odd {
    background-color: #deebf7; }
  .ag-theme-balham .ag-row-even {
    background-color: white; }
  .ag-theme-balham .ag-row-hover {
    background-color: inherit; }
  .ag-theme-balham .ag-numeric-cell {
    text-align: right; }