
<div class="row" id="row1">
    <img src="../../assets/images/2.png" style=" margin-left: auto;margin-right: auto;">
</div>

<div class="row" style="margin-top: 3%;">
  <div class="col-md-2"></div>
  <div class="col-md-3" class="label">Program Name</div>
  <div class="col-md-7" class="label" style="font-weight: normal;">
    <span>{{progName}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span>|&nbsp;&nbsp;&nbsp;&nbsp; PID Mapping &nbsp;&nbsp;&nbsp;&nbsp;|</span>
    <span>&nbsp;&nbsp;&nbsp;&nbsp; Revenue from one PID to service PID</span>
  </div>
</div>

<div class="row" style="margin-top: 3%; margin-left:-7.5%">
  <div class="col-md-3" id="heading">Final Data To Be Processed</div>
  <div class="col-md-5"></div>
  <!-- <div class="col-md-1" class="label" style="margin-right:-2%;">No. of Rows</div>
  <div class="col-md-1" class="label">
      <select style="border: 1px solid #000000; ">
        <option>5</option>
        <option>10</option>
      </select>
    </div> -->
</div>

<div style="display: flex; flex-direction: row">
  <div style=" overflow: hidden; flex-grow: 1">
<ag-grid-angular 
    style="width: 100%; height: 182px;" 
    class="ag-theme-blue"
    [enableSorting]="true"
    [enableFilter]="true"
    [animateRows]="true"
    [pagination]="true"
    [paginationPageSize]="5"
    [rowData]="rowData | async" 
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
</div>
</div>

<div class="row" id="row4">
  <div class="col-md-9"></div>
  <div class="col-md-2" class="label" style="margin-left: -1%;">
    <button class="btn2">Send All For Approval</button>
  </div>
  <div class="col-md-1" class="label" style="margin-top:0.5%">
    <a href="#">Download</a>
  </div>
</div>

<div class="row">
  <hr class="col-md-12" id="hrs">
</div>

<table2></table2>
<table3></table3>
<show-input-parameters></show-input-parameters>